.event-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}

body {
    background-color: #334049;
    font-family: Open Sans;
    color: #f2efea;
}

h1 {
    color: #6C9C99;
}

h2 {
    font-size: 40px;
}

.selection-container {
    text-align: center;
    padding-bottom: 50px;
}

.dropbtn {
    background-color: #FFFFFF;
    color: gray;
    padding: 16px;
    font-size: 16px;
    border: 1px;
    cursor: pointer;
    width: 250px;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;

}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover #dropdown-content {
    display: block;
}

footer{
margin: 70px 50px;;
border-top: 0.2px solid #f2efea;
opacity: 2px;
}

h3{
    text-align:  center;
    font-family: Open Sans;
}
.links{
    text-align:  center;
    word-spacing: 30px;
    padding-top: 20px;

}
a{
    text-decoration: none;
}
